In [32]:
import pandas as pd

filepath = 'C://Users//archi//OneDrive//Desktop//Fall 24//Capstone//Data//'

In [33]:
zip_cbsa = pd.read_excel(filepath+'Census//ZIP_CBSA_062024.xlsx', header=0)

zip_cbsa.head()

,ZIP,CBSA,USPS_ZIP_PREF_CITY,USPS_ZIP_PREF_STATE,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
0,501,35620,HOLTSVILLE,NY,0.0,1.0,0.0,1.0
1,601,99999,ADJUNTAS,PR,1.0,1.0,1.0,1.0
2,602,10380,AGUADA,PR,1.0,1.0,1.0,1.0
3,603,10380,AGUADILLA,PR,1.0,1.0,1.0,1.0
4,604,10380,AGUADILLA,PR,1.0,1.0,1.0,1.0

In [34]:
zip_cbsa.shape

(47491, 8)

In [35]:
zip_cbsa['ZIP'].nunique()

39490

In [36]:
zip_cbsa = zip_cbsa.loc[zip_cbsa.groupby(['ZIP'])['TOT_RATIO'].idxmax()]

In [37]:
zip_cbsa.drop(columns=['USPS_ZIP_PREF_CITY','USPS_ZIP_PREF_STATE','RES_RATIO','BUS_RATIO','OTH_RATIO','TOT_RATIO'], axis=1, inplace=True)

zip_cbsa.head()

   ZIP   CBSA
0  501  35620
1  601  99999
2  602  10380
3  603  10380
4  604  10380

In [38]:
zip_cbsa.drop(zip_cbsa[zip_cbsa['CBSA']==99999].index, inplace=True)

In [39]:
zip_cbsa.shape

(28545, 2)

In [40]:
cbsa_details = pd.read_excel(filepath+'Census//list2_2023.xlsx', header=0)

cbsa_details.head()

,CBSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Principal City Name,FIPS State Code,FIPS Place Code
0,10100,"Aberdeen, SD",Micropolitan Statistical Area,Aberdeen,46,100
1,10140,"Aberdeen, WA",Micropolitan Statistical Area,Aberdeen,53,100
2,10180,"Abilene, TX",Metropolitan Statistical Area,Abilene,48,1000
3,10220,"Ada, OK",Micropolitan Statistical Area,Ada,40,200
4,10300,"Adrian, MI",Micropolitan Statistical Area,Adrian,26,440

In [41]:
cbsa_details.shape

(1294, 6)

In [42]:
cbsa_details.drop(columns=['Principal City Name','FIPS State Code','FIPS Place Code'], axis=1, inplace=True)

cbsa_details.head()

   CBSA Code    CBSA Title Metropolitan/Micropolitan Statistical Area
0      10100  Aberdeen, SD              Micropolitan Statistical Area
1      10140  Aberdeen, WA              Micropolitan Statistical Area
2      10180   Abilene, TX              Metropolitan Statistical Area
3      10220       Ada, OK              Micropolitan Statistical Area
4      10300    Adrian, MI              Micropolitan Statistical Area

In [43]:
zip_cbsa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28545 entries, 0 to 47489
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ZIP     28545 non-null  int64
 1   CBSA    28545 non-null  int64
dtypes: int64(2)
memory usage: 669.0 KB

In [44]:
cbsa_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1294 entries, 0 to 1293
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   CBSA Code                                   1294 non-null   int64
 1   CBSA Title                                  1294 non-null   object
 2   Metropolitan/Micropolitan Statistical Area  1294 non-null   object
dtypes: int64(1), object(2)
memory usage: 30.5+ KB

In [45]:
cbsa_details.duplicated().sum()

359

In [46]:
cbsa_details.drop_duplicates(inplace=True)

In [47]:
cbsa_details.rename(columns={'CBSA Code':'CBSA'}, inplace=True)

In [48]:
cbsa = pd.merge(zip_cbsa, cbsa_details, on=['CBSA'], how='left')

In [49]:
cbsa.head()

,ZIP,CBSA,CBSA Title,Metropolitan/Micropolitan Statistical Area
0,501,35620,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area
1,602,10380,"Aguadilla, PR",Metropolitan Statistical Area
2,603,10380,"Aguadilla, PR",Metropolitan Statistical Area
3,604,10380,"Aguadilla, PR",Metropolitan Statistical Area
4,605,10380,"Aguadilla, PR",Metropolitan Statistical Area

In [50]:
cbsa.shape

(28545, 4)

In [51]:
cbsa['CBSA Title'].isna().sum()

0

In [52]:
cbsa.to_csv(filepath+'Census//ZIP_CBSA_MSA.csv', index=False)